body {
    background-image: url('/img/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    filter: brightness(0.8);
}

.custom-bg {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
}

.current-weather {
    background: rgba(79, 172, 254, 0.8);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    animation: pulse 2s infinite;
    border-radius: 10px;
    padding: 1rem;
}

.forecast-item {
    background: rgba(79, 172, 254, 0.6);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.forecast-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.text-shadow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.shadow-icon {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#weatherIcon {
    width: 150px;
}

.bg-gradient {
    background: linear-gradient(to bottom right, #ffffff, #d4e6f1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.bg-gradient:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-gradient {
    background: linear-gradient(45deg, #1d8cf8, #3358f4);
    border: none;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 25px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-gradient:hover {
    background: linear-gradient(45deg, #3358f4, #1d8cf8);
    transform: scale(1.05);
}

.custom-control-label, button {
    cursor: pointer;
}

.dark-mode {
    background-color: #718093;
    color: #f8f9fa;
}

.dark-mode .current-weather {
    background: rgba(194, 194, 194, 0.9);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
        align-items: stretch;
    }
    .input-group-append {
        margin-top: 10px;
    }
    .current-weather {
        padding: 2rem;
    }
    .temperature, .weather-icon, .additional-info {
        flex: 1 1 100%;
        text-align: center;
    }
    .d-flex {
        flex-direction: column;
    }
    .forecast-item img, .hour-item img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 1rem;
    }

    .current-weather {
        padding: 1rem;
    }
    .temperature, .weather-icon, .additional-info {
        flex: 1 1 100%;
    }

    .forecast-item img, .hour-item img {
        width: 40px;
        height: 40px;
    }

    .btn-gradient, .btn-outline-light {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}
